.Searchbar {
  line-height: 20px;
}

.SearchForm__button {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;

  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.active {
  background-color: #237bb6;
  color: #ffffff;
}

.inactive {
  color: #28475c;
  background-color: #383232;
  pointer-events: none;
}
